<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
</head>
<body>
    <%- include('partials/navigation') %>
<h1>Books</h1>
<ul>
    <% if (books.length > 0) { %>
        <% books.forEach(book => { %>
            <li><%= book.title %> - <%= book.publishingYear %></li>
        <% }) %>
    <% } else { %>
        <li>No books has been found</li>
    <% } %>
</ul>
</body>
</html>